h1, p {
  margin: 0;
}

.icons {
  margin-top: 40;
}

.icons a {
  font-size: 35; 
  color: white;
  margin-right: 15px;
}

.wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url(bg.jpg);
  background-position: fixed;
  background-size: cover;
}

.main {
  padding-left: 80px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.home{
	position: relative !important;
	height:100% !important;
	z-index: 1;
}

.home-wrap{
	position: relative !important;
	height:100% !important;
	display: table !important;
	table-layout: fixed !important;
}

.min-wrap{
	position: relative;
	width:960px;
	margin:auto;
}

.home-vertical{    
	display: table-cell !important;
    vertical-align: middle !important;
}

.home-name{
  font-size: 45px;  
  color: #FFF;
	text-transform: capitalize;
	font-family: 'roboto', serif;
}

.home-text{
	font-size: 16px;
	color: #FFFFFF;
	text-transform: initial;
  width:60%;
  font-family: 'roboto', serif;  
}

@media screen and (max-width: 1250px) {
  .lx-home-vertical{    
    padding: 10px;
  }
}
