html {
  height: 100%;
  width: 100%;
  font-family: 'roboto', serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
}

.circled {
  border-radius: 10%;
}